main.page-wrapper
  .position-relative.zindex-5.pb-4.mb-md-3.mx-5(style='margin-top: 20px;')
    .row.mx-n2.py-2
      .col-md-8.col-sm-6.px-2
        h1.text-white CryptoBlades Tracker
    .row
      .col-md-12.mb-4
        .card.h-100.rounded-3.p-3.text-white.bg-danger
          p CryptoBlades Tracker is open-source so anyone can create a clone and modify it to ask for your sensitive information. CryptoBlades Tracker <b>will never ask</b> for your seed phrase or private key! <b>Never share these information</b> to any site nor your friends. <b>CryptoBlades Tracker will only require you to enter your BSC address and nothing else</b>. Stay safe!   
    .row.mx-n2.py-2
      .col-md-12.col-sm-126.px-2.mb-3
        .card.bg-dark
          .card-header
            .row.align-items-center
              .col
                h4.card-header-title.text-white
                  | Fight Result Logger
              .col-auto
                button.btn.btn-sm.btn-success(style='margin-right: 3px !important;' type='button' data-bs-toggle='modal' data-bs-target='#modal-import')
                  | Import List
                button.btn.btn-sm.btn-warning(style='margin-right: 3px !important;' type='button' onclick='exportList()')
                  | Export List
                button.btn.btn-sm.btn-danger(type='button' data-bs-toggle='modal' data-bs-target='#modal-add-account')
                  | Add Account
          .card-body
            .row
              .col-md-12.mb-3
                .p.text-white Results are in csv format <code>Address,Fight Outcome,Character ID,Weapon ID,Player Roll,Enemy Roll,Skill Reward,XP Reward,Gas Cost</code>
            .row
              .col-md-3.mb-3
                label.text-white.mb-1 Address subscribed
                textarea#fight-address.form-control(rows="15" readonly style='font-size: 13px; color: black;' wrap="off")
              .col-md-9
                .row
                  .col
                    label.text-white.mb-1 Fight logs
                  .col-auto
                    button.btn.btn-sm.btn-warning.mb-1(style='margin-top: -15px !important;' type='button' onclick='exportLogs()')
                      | Export Logs
                table#fight-logs.table.table-sm.card-table.table-bordered
                    thead.text-center
                      tr
                        th.text-white
                          | Name
                        th.text-white
                          | Address
                        th.text-white
                          | Level
                        th.text-white
                          | Result
                        th.text-white
                          | Reward
                        th.text-white
                          | Gas Fee
                        th.text-white
                          | Profit
                    tbody.text-center
                      tr 
                        th.text-white.align-middle(colspan='6')
                          | Total
                        th.text-white
                          | 0
                .row
                  .col
                    label.text-white.mb-1 Earnings Summary
                table#earnings-summary.table.table-sm.card-table.table-bordered
                    thead.text-center
                      tr
                        th.text-white
                          | Name
                        th.text-white
                          | Address
                        th.text-white
                          | Wins
                        th.text-white
                          | Total Reward
                        th.text-white
                          | Total Gas Fee
                        th.text-white
                          | TotalProfit
                    tbody.text-center
include ../footer